.section-tabela {
    margin: 10px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 98.9%;
    max-height: 85vh; /* ajuste este valor conforme necessário */
    overflow-y: auto;
  }

table tbody tr:hover {
    cursor: pointer;
}



.col-id {
  width: 2% !important;
}
.col-texto4 {
  width: 4% !important;
  text-align: left !important;
}
.col-texto6 {
  width: 6% !important;
  text-align: left !important;
}
.col-texto8 {
  width: 8% !important;
  text-align: left !important;
}
.col-texto10 {
  width: 10% !important;
  text-align: left !important;
}
.col-texto12 {
  width: 12% !important;
  text-align: left !important;
}
.col-texto15 {
  width: 15% !important;
  text-align: left !important;
}
.col-texto18 {
  width: 18% !important;
  text-align: left !important;
}
.col-texto20 {
  width: 20%;
  text-align: left;
}
.col-texto25 {
  width: 25%;
  text-align: left;
}

.col-valor3 {
  width: 20px !important;
  text-align: right;
}

.col-valor5 {
  width: 5% !important;
  text-align: right;
}
.col-valor8 {
  width: 8% !important;
  text-align: right;
}
.col-valor10 {
  width: 10% !important;
  text-align: right;
}
