body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
}

.main-container {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    background-color: #FAFAFA;
}

.breadcrumb2 {
    background-color: #F5F5F5;
    height: 6%;
    min-height: 5vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 14px;  
}

.breadcrumb2 i {
    margin-right: 2px; 
    font-size: 16px;   
}

.breadcrumb2 i.fas {
    margin-right: 10px; 
    font-size: 16px;   
    vertical-align: middle; 
}

.workspace {
    width: 88%;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
