{% extends 'main/base_main.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/arp_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-file-contract"></i>&nbsp;ARPs / Ficha da ARP
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'arps' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button active" id="arp_ficha_dados_gerais">Dados Gerais</button>
        </div>
    </div>

    <div class="area-scroll">
        <!-- form denominacoes_genericas -->
            <form id="arpForm" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-danger" id="btnDeletarArp" style="font-size: 12px; background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">
                    <i class="fas fa-trash-alt"></i>
                    Deletar
                </button>
                
                <button class="btn btn-primary me-md-2" type="submit" id="btnSaveArp" style="font-size: 12px;">
                    <i class="fas fa-save me-1"></i> 
                    Salvar
                </button>
            </div>
            
            <div class="horizontal-sections">
                <div class="section-log">
                    <h3>Log</h3>
                    <div class="grid-log">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" id="id_arp" name="id_arp" readonly value="{{ form.instance.id|default_if_none:'' }}">
                            <label for="floatingInput">ID</label>
                        </div>                        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ arp.registro_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Data do Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ arp.usuario_registro.dp_nome_completo }}">
                            <label for="floatingInput">Responsável pelo Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="lot_ult_atualizacao" name="lot_ult_atualizacao" readonly value="{{ arp.ult_atual_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Última Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ arp.usuario_atualizacao.dp_nome_completo }}">
                            <label for="floatingInput">Responsável Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" style="width: 100px;" id="log_edicoes" name="log_edicoes" readonly value="{{ arp.log_n_edicoes }}">
                            <label for="floatingInput">Nº Edições</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="horizontal-sections">
                <div class="section">
                    <h3>Dados da ARP*</h3>
                    
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating">                            
                            {{ form.unidade_daf }}
                            <label>{{ form.unidade_daf.label }}</label>
                            <input type="hidden" id="arp_unidade_daf_display" name="unidade_daf" class="form-control" value="{% if form.instance.unidade_daf %}{{ form.instance.unidade_daf }}{% endif %}"  readonly>
                        </div>
                        <div class="form-floating">                            
                            {{ form.lei_licitacao }}
                            <label>{{ form.lei_licitacao.label }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.numero_processo_sei }}
                            <label>{{ form.numero_processo_sei.label }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.numero_documento_sei }}
                            <label>{{ form.numero_documento_sei.label }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.numero_arp }}
                            <label>{{ form.numero_arp.label }}</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            {{ form.status }}
                            <label>{{ form.status.label }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="data_publicacao" name="data_publicacao" value="{% if form.data_publicacao.value %}{{ form.data_publicacao.value|date:'Y-m-d' }}{% endif %}">
                            <label>{{ form.data_publicacao.label }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="data_vigencia" name="data_vigencia" style="width: 120px;" readonly>
                            <label>Data Vigência</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="prazo_vigencia" name="prazo_vigencia" style="width: 125px;" readonly>
                            <label>Prazo Vigência</label>
                        </div>
                    </div>
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating mb-3" style="min-width: 49.5%;">
                            {{ form.denominacao }}
                            <label>{{ form.denominacao.label }}</label>
                            <input type="hidden" name="arp_denominacao_hidden" id="arp_denominacao_hidden">
                        </div>
                        <div class="form-floating mb-3" style="min-width: 49.5%;">
                            {{ form.fornecedor }}
                            <label>{{ form.fornecedor.label }}</label>
                        </div>
                    </div>  
                </div>
            </div>

            
            <div class="horizontal-sections">
                <div class="section">
                    <h3>Itens da ARP</h3>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="font-size: 14px; text-align: right !important;">
                        <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"  id="btnNovoItemARP" style="font-size: 12px; background-color: green; border-color: green;">
                            <i class="fas fa-plus" style="font-size: 14px;"></i> 
                            &nbsp;Inserir Item
                        </button>
                    </div>

                    <div class="grid" style="font-size: 14px;">
                        <table class="table table-striped table-hover fixed-size-table" style="font-size: 12px;" id="tabItensARP">
                            <thead>
                                <tr>
                                    <th class="col-id">Item</th>
                                    <th class="col-produto">Produto</th>
                                    <th class="col-tipo">Tipo de Cota</th>
                                    <th class="col-tipo">Empate Ficto</th>
                                    <th class="col-valor">Valor Unit. Homol.</th>
                                    <th class="col-valor">Qtd Registrada</th>
                                    <th class="col-valor">Valor Total</th>
                                    <th class="col-valor">Qtd Contratada</th>
                                    <th class="col-valor">Saldo</th>
                                    <th class="col-valor">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tab_itens_arp %}
                                <tr data-id="{{ item.id }}">
                                    <td class="col-id">{{ item.numero_item }}</td>
                                    <td class="col-produto">{{ item.produto.produto }}</td>
                                    <td class="col-tipo" style="text-transform: capitalize;">{{ item.tipo_cota }}</td>
                                    <td class="col-tipo" style="text-transform: capitalize;">
                                        {% if item.empate_ficto %}
                                            Sim
                                        {% else %}
                                            Não
                                        {% endif %}
                                    </td>
                                    <td class="col-valor">
                                        {% if item.valor_unit_reequilibrio_bool %}
                                            {{ item.valor_unit_reequilibrio|format_number }}
                                        {% else %}
                                            {{ item.valor_unit_homologado|format_number }}
                                        {% endif %}
                                    </td>
                                    <td class="col-valor">{{ item.qtd_registrada|floatformat:0|intcomma }}</td>
                                    <td class="col-valor">{{ item.valor_total|format_number }}</td>
                                    <td class="col-valor">0</td>
                                    <td class="col-valor">{{ item.qtd_saldo|floatformat:0|intcomma}}</td>
                                    <td class="col-valor">{{ item.qtd_saldo_percentual|format_percent}}</td>
                                </tr>
                                {% endfor %}
                                <!-- Linha do Valor Total -->
                                <tr>
                                    <td colspan="5" style="text-align: right; font-weight: bold;">Valor Total:</td>
                                    <td class="col-valor" style="font-weight: bold;">{{ qtd_registrada_total_arp|floatformat:0|intcomma }}</td>
                                    <td class="col-valor" style="font-weight: bold;">{{ valor_total_arp|format_number }}</td>
                                    <td class="col-valor" style="font-weight: bold;">0</td>
                                    <td class="col-saldo" style="font-weight: bold;">{{ qtd_saldo_total_arp|floatformat:0|intcomma }}</td>
                                    <td class="col-saldo" style="font-weight: bold;">{{ qtd_saldo_total_arp_percentual|format_percent}}</td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>

                </div>
            </div>

            <div class="section">
                <h3>Observações Gerais</h3>
                <div class="grid" style="font-size: 14px;">
                    <div class="form-floating mb-3 full-width">
                        <!-- <textarea class="form-control auto-expand" id="arp_observacoes_gerais" name="observacoes_gerais" rows="1" style="padding-top: 10px; height: 120px;">{{ form.instance.observacoes_gerais|default_if_none:'Sem observações.' }}</textarea> -->
                        {{ form.observacoes_gerais }}
                    </div> 
                    
                </div>
            </div>
        </form>
    </div>
    
    <script>
        // $(document).ready(function() {


        //     // Quando o botão é clicado
        //     $(".open-proaq-produtos-modal").on('click', function(event) {
                
        //         document.getElementById('arpItemForm').reset();

        //         var modal = new bootstrap.Modal(document.getElementById('proaqProdutosModal'));
        //         modal.show();

        //         // $('#proaqProdutosModal').modal('show');  // Mostre o modal
        //     });

            
        // });
    </script>

    <!-- Modal -->
    {% include "contratos/arp_ficha_modal.html" %}  

    <script type="text/javascript">
        var filtrar_dados = "{% url 'fornecedor_ficha_filtrar_dados' %}";
    </script>
    <!-- <script src="{% static 'js/fornecedores.js' %}"></script> -->
    <script src="{% static 'js/arp.js' %}"></script>

    

{% endblock %}