{% extends 'main/base_main.html' %}
{% load static %}
{% load humanize %}
{% block extra_head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static '\styles\fornecedores.css' %}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-file-contract"></i>&nbsp;Atas de Registro de Preços (ARPs)
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tabs">
            <button class="tab-button active" id="abaARPS" onclick="location.href='{% url 'arps' %}'">ARPs</button>
            <button class="tab-button" id="abaContratos" onclick="location.href='{% url 'contratos' %}'">Contratos</button>
            <button class="tab-button" id="abaARPS" onclick="location.href='{% url 'arps' %}'">TEDs</button>
        </div>
    </div>

    <div class="horizontal-sections">
        
        <div class="section numbers">
            <div class="filter-title">
                Total de ARPs
            </div>
            <div id="numeroARPs" class="total-geral">{{ tab_arps.count }}</div>
        </div>
        
        <div class="section filter">
            <div class="filter-title">Filtros
                Filtros
            </div>
            
            <!-- Status -->
            <div class="form-floating tipo-fornecedor">
                <select class="form-select" aria-label="Floating label select example" id="status_arp">
                    <option value=""></option>
                    {% for value, display in lista_status %}
                    <option value="{{ value }}">{{ display }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Status</label>
            </div>

             <!-- Unidade DAF -->
             <div class="form-floating tipo-fornecedor">
                <select class="form-select" aria-label="Floating label select example" id="unidade_daf">
                    <option value=""></option>
                    {% for value, display in lista_unidadesdaf %}
                    <option value="{{ value }}">{{ display }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Unidade DAF</label>
            </div>            
            
            <!-- Denominações Genéricas -->
            <div class="form-floating fornecedor">
                <select class="form-select" aria-label="Floating label select example" id="denominacao">
                    <option value=""></option>
                    {% for id, name in lista_denominacoes %}
                    <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Denominações Genéricas</label>
            </div>

            <!-- Denominações Genéricas -->
            <div class="form-floating fornecedor">
                <select class="form-select" aria-label="Floating label select example" id="fornecedor">
                    <option value=""></option>
                    {% for name in lista_fornecedores %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Fornecedor</label>
            </div>
                
            <button class="custom-btn limpar-filtro-arps">
                <i class="fa fa-times" style="font-size: 1.5vw" title="Limpar filtros"></i>
                <span style="font-size: 10px;">Limpar Filtros</span>
            </button>
        </div>

        <div class="section funcionalidades">
            <div style="font-size: 12px; font-weight: bold;">
                Funcionalidades
            </div>
            <div class="btn-container">
                <a href="{% url 'arp_nova' %}" style="text-decoration: none;">
                    <button class="custom-btn" id="inserir_contrato">
                        <div class="icon-container">
                            <i class="fa fa-plus-circle" style="font-size: 1.5vw"></i>
                            <span>Inserir</span>
                        </div>
                    </button>
                </a>
                <button class="custom-btn" id="exportarARPs">
                    <div class="icon-container">
                        <i class="fa fa-download" style="font-size: 1.5vw"></i>
                        <span>Exportar</span>
                    </div>                    
                </button>
                
            </div>   
        </div>
        
    </div>

    <div class="section-tabela">
        <table class="table table-striped table-hover fixed-size-table" style="font-size: 14px;" id="tabARPs">
            <thead>
                <tr>
                    <th class="col-arp-id">ID</th>
                    <th class="col-arp-status">Status</th>
                    <th class="col-arp-unidadedaf">Unidade DAF</th>
                    <th class="col-arp-processo-sei">Nº Processo SEI</th>
                    <th class="col-arp-doc-sei">Doc. SEI</th>
                    <th class="col-arp-doc-sei">Nº ARP</th>
                    <th class="col-arp-data">Publicação</th>
                    <th class="col-arp-data">Vigência</th>
                    <th class="col-arp-data">Prazo (dias)</th>
                    <th class="col-arp-denominacao">Denominação</th>
                    <th class="col-arp-fornecedor">Fornecedor</th>
                    <th class="col-arp-data" style="text-align: center !important;">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tab_arps %}
                <tr data-id="{{ item.id }}">
                    <td class="col-arp-id">{{ item.id }}</td>
                    <td class="col-arp-status">{{ item.get_status_display }}</td>
                    <td class="col-arp-unidadedaf" style="text-transform: uppercase;">{{ item.unidade_daf }}</td>
                    <td class="col-arp-processo-sei">{{ item.numero_processo_sei }}</td>
                    <td class="col-arp-doc-sei">{{ item.numero_documento_sei }}</td>
                    <td class="col-arp-doc-sei">{{ item.numero_arp }}</td>
                    <td class="col-arp-data">{{ item.data_publicacao|date:"d/m/Y" }}</td>
                    <td class="col-arp-data">{{ item.data_vigencia|date:"d/m/Y" }}</td>
                    <td class="col-arp-data">{{ item.prazo_vigencia }}</td>
                    <td class="col-arp-denominacao">{{ item.denominacao.denominacao }}</td>
                    <td class="col-arp-fornecedor">{{ item.fornecedor.nome_fantasia }}</td>
                    <th class="col-arp-valor" style="font-weight: normal; text-align: right !important;">{{ item.valor_total_arp|floatformat:2|intcomma }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        </div>
        <div id="pagination">
            <button id="previousPage" class="page" disabled>Anterior</button>
            <span id="currentPage">1</span>
            <button id="nextPage" class="page">Próximo</button>
        </div>
    </div>
    
    <script src="{% static 'js/arp.js' %}"></script>

{% endblock %}