{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/contrato_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-file-contract"></i>&nbsp;Contratos / Ficha do Contrato
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'contratos' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button active" id="contrato_ficha_dados_gerais">Dados Gerais</button>
            <button class="tab-button" id="contrato_ficha_dados_gerais">Anotações</button>
        </div>
    </div>

    <div class="area-scroll">
        <!-- form contratos -->
            <form id="contratoForm" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-danger" id="btnDeletarContrato" style="font-size: 12px; background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">
                    <i class="fas fa-trash-alt"></i>
                    Deletar
                </button>
                
                <button class="btn btn-primary me-md-2" type="submit" id="btnSalvarContrato" style="font-size: 12px;">
                    <i class="fas fa-save me-1"></i> 
                    Salvar
                </button>
            </div>
            
            <div class="horizontal-sections">
                <div class="section-log">
                    <h3>Log</h3>
                    <div class="grid-log">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" id="id_contrato" name="id_contrato" readonly value="{{ form.instance.id|default_if_none:'' }}">
                            <label for="floatingInput">ID</label>
                        </div>                        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ contrato.registro_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Data do Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ contrato.usuario_registro.dp_nome_completo }}">
                            <label for="floatingInput">Responsável pelo Registro</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_data" id="lot_ult_atualizacao" name="log_data_registro" readonly value="{{ contrato.ult_atual_data|date:"d/m/Y H:i:s" }}">
                            <label for="floatingInput">Última Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_responsavel" id="log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ contrato.usuario_atualizacao.dp_nome_completo }}">
                            <label for="floatingInput">Responsável Atualização</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control log_edicoes" style="width: 100px;" id="log_edicoes" name="log_edicoes" readonly value="{{ contrato.log_n_edicoes }}">
                            <label for="floatingInput">Nº Edições</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="horizontal-sections">
                <div class="section">
                    <h3>Dados do Contrato</h3>
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating">                            
                            {{ form.unidade_daf }}
                            <input type="text" id="ct_unidade_daf_display" class="form-control" style="width: 130px;" value="{% if form.unidade_daf.value %}{{ form.instance.get_unidade_daf_display }}{% endif %}" readonly>

                            <label>Unidade DAF</label>
                        </div>
                        <div class="form-floating">                            
                            {{ form.lei_licitacao }}
                            <label>Lei de Licitação</label>
                            <input type="hidden" id="ct_lei_licitacao_valor" name="ct_lei_licitacao_valor" class="form-control" style="width: 130px;" value="{% if form.instance.lei_licitacao %}{{ form.instance.lei_licitacao }}{% endif %}"  readonly>
                        </div>
                        <div class="form-floating">                            
                            {{ form.modalidade_aquisicao }}
                            <input type="text" id="ct_modalidade_aquisicao_display" class="form-control" style="width: 200px;" value="{% if form.modalidade_aquisicao.value %}{{ form.instance.get_modalidade_aquisicao_display }}{% endif %}" readonly>
                            <label>Modalidade de Aquisição</label>
                        </div>
                        <div class="form-floating">                            
                            <input type="hidden" id="ct_arp" name="arp" class="form-control" style="width: 150px;" value="{% if form.instance.arp %}{{ form.instance.arp.id }}{% endif %}" readonly>
                            <input type="text" id="ct_arp_display" class="form-control" style="width: 140px;" value="{% if form.instance.arp %}{{ form.instance.arp.numero_arp }}{% endif %}" readonly>
                            <label>Nº da ARP</label>
                        </div>
                        <div class="form-floating">                            
                            {{ form.numero_processo_sei }}
                            <label>{{ form.numero_processo_sei.label }}</label>
                        </div>
                        <div class="form-floating">                            
                            {{ form.numero_documento_sei }}
                            <label>{{ form.numero_documento_sei.label }}</label>
                        </div>
                        <div class="form-floating">                            
                            {{ form.numero_contrato }}
                            <label>{{ form.numero_contrato.label }}</label>
                        </div>
                        <div class="form-floating">                            
                            {{ form.status }}
                            <label>{{ form.status.label }}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="data_publicacao" name="data_publicacao" value="{% if form.data_publicacao.value %}{{ form.data_publicacao.value|date:'Y-m-d' }}{% endif %}">
                            <label for="floatingInput">Data da Publicação</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="data_vigencia" value="{{ contrato.data_vigencia|date:'Y-m-d' }}" readonly>
                            <label for="floatingInput">Data de Vigência</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="prazo_vigencia" name="prazo_vigencia" style="width: 125px;" value="{{ contrato.prazo_vigencia }}"readonly>
                            <label>Prazo Vigência</label>
                        </div>
                        
                    </div>
                    
                    <div class="grid" style="font-size: 14px;">
                        <div class="form-floating mb-3" style="min-width: 35%;">
                            <input type="hidden" id="ct_denominacao" name="denominacao" class="form-control" value="{% if form.instance.denominacao %}{{ form.instance.denominacao.id }}{% endif %}" readonly>
                            <input type="text" id="ct_denominacao_display" name="ct_denominacao_display" class="form-control" value="{% if form.instance.denominacao %}{{ form.instance.denominacao }}{% endif %}" readonly>
                            <label>Denominação Genérica</label>
                        </div>
                        <div class="form-floating mb-3" style="min-width: 35%;">
                            <input type="hidden" id="ct_fornecedor" name="fornecedor" class="form-control" value="{% if form.instance.fornecedor %}{{ form.instance.fornecedor.id }}{% endif %}" readonly>
                            <input type="text" id="ct_fornecedor_display" class="form-control" value="{% if form.instance.fornecedor %}{{ form.instance.fornecedor }}{% endif %}" readonly>
                            <label>Fornecedor</label>
                        </div>
                        <div class="form-floating mb-3 full-width">
                            <input type="text" class="form-control" id="ct_fiscal" readonly>
                            <label for="ct_fiscal">Fiscal do Contrato</label>
                        </div>
                    </div>  
                    

                </div>
            </div>
            
            <div class="horizontal-sections">
                <div class="section">
                    <h3>Parcelas do Contrato</h3>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="font-size: 14px; text-align: right !important;">
                        <button class="btn btn-primary me-md-2" type="button" id="btnNovaParcela" style="font-size: 12px; background-color: green; border-color: green;">
                            <i class="fas fa-plus" style="font-size: 14px;"></i> 
                            &nbsp;Inserir Parcela
                        </button>
                    </div>

                    <div class="grid" style="font-size: 14px; text-align: right !important;">
                        <table class="table table-striped table-hover fixed-size-table" style="font-size: 12px;" id="tabProcessosAquisitivos">
                            <thead>
                                <tr>
                                    <th class="col-id">ID</th>
                                    <th class="col-status">Status</th>
                                    <th class="col-unidadedaf">Unidade DAF</th>
                                    <th class="col-modalidade">Mod. Aquisição</th>
                                    <th class="col-processo">Processo SEI</th>
                                    <th class="col-etp">ETP</th>
                                    <th class="col-denominacao">Denominação</th>
                                    <th class="col-responsavel">Responsável</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tab_proaqs %}
                                <tr data-id="{{ item.id }}">
                                    <td class="col-id">{{ item.id }}</td>
                                    <td class="col-status">{{ item.get_status_label }}</td>
                                    <td class="col-unidadedaf">{{ item.get_unidade_daf_display }}</td>
                                    <td class="col-modalidade">{{ item.get_modalidade_aquisicao_label }}</td>
                                    <td class="col-processo">{{ item.numero_processo_sei }}</td>
                                    <td class="col-etp">{{ item.numero_etp }}</td>
                                    <td class="col-denominacao">{{ item.get_denominacao_nome }}</td>
                                    <td class="col-responsavel">{{ item.get_usuario_nome }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>

                </div>
            </div>

            <div class="horizontal-sections">
                <div class="section">
                    <h3>Entregas</h3>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="font-size: 14px; text-align: right !important;">
                        <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"  id="btnNovaEntrega" data-bs-target="" style="font-size: 12px; background-color: green; border-color: green;">
                            <i class="fas fa-plus" style="font-size: 14px;"></i> 
                            &nbsp;Inserir Entrega
                        </button>
                    </div>

                    <div class="grid" style="font-size: 14px;">
                        <table class="table table-striped table-hover fixed-size-table" style="font-size: 12px;" id="tabProcessosAquisitivos">
                            <thead>
                                <tr>
                                    <th class="col-id">ID</th>
                                    <th class="col-status">Status</th>
                                    <th class="col-unidadedaf">Unidade DAF</th>
                                    <th class="col-modalidade">Mod. Aquisição</th>
                                    <th class="col-processo">Processo SEI</th>
                                    <th class="col-etp">ETP</th>
                                    <th class="col-denominacao">Denominação</th>
                                    <th class="col-responsavel">Responsável</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tab_proaqs %}
                                <tr data-id="{{ item.id }}">
                                    <td class="col-id">{{ item.id }}</td>
                                    <td class="col-status">{{ item.get_status_label }}</td>
                                    <td class="col-unidadedaf">{{ item.get_unidade_daf_display }}</td>
                                    <td class="col-modalidade">{{ item.get_modalidade_aquisicao_label }}</td>
                                    <td class="col-processo">{{ item.numero_processo_sei }}</td>
                                    <td class="col-etp">{{ item.numero_etp }}</td>
                                    <td class="col-denominacao">{{ item.get_denominacao_nome }}</td>
                                    <td class="col-responsavel">{{ item.get_usuario_nome }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>

                </div>
            </div>

            <div class="section">
                <h3>Observações Gerais</h3>
                <div class="grid" style="font-size: 14px;">
                    <div class="form-floating mb-3 full-width">
                        <textarea class="form-control auto-expand" id="observacoes_gerais" name="observacoes_gerais" rows="1" style="padding-top: 10px; height: 120px;">{{ form.instance.observacoes_gerais|default_if_none:'Sem observações.' }}</textarea>
                    </div> 
                </div>
            </div>
        </form>
    </div>
    

    <script src="{% static 'js/contrato_ficha.js' %}"></script>


    <!-- Modais -->
    {% include "contratos/contrato_parcela_modal.html" %}
    {% include "contratos/contrato_parcela_arp_modal.html" %}

{% endblock %}