{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '\styles\home.css' %}">
{% endblock %}
{% block content %}    

        <!-- Caminho da Área de Trabalho -->
        <div class="breadcrumb2">
            <i class="fas fa-home"></i> Home
        </div>        
        
        <!-- Contêiner das Caixas de Apresentação -->
        <div class="presentation-container">
            <div class="presentation-box">
                <h2>URTs</h2>
                <p>{{ tot_urts }}</p>
            </div>
        
            <div class="presentation-box">
                <h2>Regionais</h2>
                <p>{{ tot_regionais }}</p>
            </div>

            <div class="presentation-box">
                <h2>Técnicos</h2>
                <p>{{ tot_proaqs }}</p>
            </div>

            
        </div>
        

{% endblock %}
