{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <meta name="csrf-token" content="{{ csrf_token }}"> 
    <link rel="stylesheet" href="{% static 'styles/meuslogs.css' %}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-user"></i>&nbsp;Ficha do Usuário
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tabs">
            <button class="tab-button" id="tabMeusDados" onclick="location.href='{% url 'meusdados' %}'">&nbsp;Meus Dados</button>
            <!-- <button class="tab-button" id="tabMeusDados">&nbsp;Alterar Senha</button> -->
            <button class="tab-button" id="tabMeusAcessos" onclick="location.href='{% url 'meusacessos' %}'">&nbsp;Meus Acessos</button>
            <button class="tab-button active" id="tabMeusLogs" onclick="location.href='{% url 'meuslogs' %}'">&nbsp;Meus Logs</button>
            <!-- <button class="tab-button" id="tabMeusDados">&nbsp;Ajuda</button> -->
        </div>
    </div>

    <!-- Meus Logs -->
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="submit" id="btnExportarLogs" style="font-size: 12px; background-color: green; border-color: green;">
            <i class="fas fa-download" style="font-size: 14px;"></i> 
            &nbsp;Exportar Logs
        </button>
    </div>

    

    <div class="section-tabela">
        <table class="table table-striped table-hover fixed-size-table" style="font-size: 14px;" id="tabLogs">
            <thead>
                <tr>
                    <th class="log-id">ID</th>
                    <th class="log-usuario">Usuário</th>
                    <th class="log-data">Data/Hora</th>
                    <th class="log-modulo">Módulo</th>
                    <th class="log-acao">Ação</th>
                    <th class="log-descricao">Detalhamento</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tab_logs %}
                <tr data-id="{{ item.id }}">
                    <td class="log-id">{{ item.id }}</td>
                    <td class="log-usuario">{{ item.usuario }}</td>
                    <td class="log-data">{{ item.timestamp|date:"d/m/Y H:i:s" }}</td>
                    <td class="log-modulo">{{ item.modulo }}</td>
                    <td class="log-acao">{{ item.acao }}</td>
                    <td class="log-descricao">{{ item.observacoes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>

<script src="{% static 'js/meus_dados.js' %}"></script>

{% endblock %}
