

.sidebar {
    background-color: #3B3B3B;
    flex: 0 0 12%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0 0 10px 0;
}

.tab {
    font-size: 12px;
    text-decoration: none;
    color: white !important;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: left;
    border-left: 4px solid transparent;
    transition: background-color 0.3s ease-in-out, border-left 0.3s ease-in-out;
}

.tab:hover {
    background-color: #2e2e2e;
    font-weight: bold;
    border-left: 4px solid white;
}

.active-tab {
    color: white;
    font-weight: bold;
    border-left: 4px solid white;
    background-color: #2e2e2e;
}

.toggle-button {
    cursor: pointer;
    font-size: 18px;
    color: white;
    padding: 5px 10px 0px 0px;
    text-align: right;
    margin-top: auto; /* Empurra o botão para o canto inferior */
    border-top: 1px solid rgb(165, 165, 165); /* Adiciona uma linha branca fina acima do botão */
}

.sidebar.collapsed .tab,
.sidebar.collapsed .logout-tab {
    font-size: 0; /* Esconde o texto, deixando apenas os ícones visíveis */
    justify-content: center;
}

.sidebar.collapsed .tab:hover,
.sidebar.collapsed .logout-tab:hover {
    font-size: 0; /* Garante que o texto permanece oculto mesmo quando pairado */
}



/* Remove os efeitos de hover e seleção quando a sidebar está recolhida */
.sidebar.collapsed .tab:hover,
.sidebar.collapsed .active-tab {
    background-color: inherit;
    font-weight: normal;
    border-left: 4px solid transparent;
}

/* Remove o efeito de aba ativa quando a sidebar está recolhida */
.sidebar.collapsed .active-tab {
    background-color: inherit;
    font-weight: normal;
    border-left: 4px solid transparent;
}

.sidebar {
    transition: flex-basis 0.45s ease-in-out;
    overflow-x: hidden;
}

