{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/meusdados.css' %}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fas fa-info-circle"></i>&nbsp;Sobre o SisDAF
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tabs">
            <button class="tab-button active" id="tabAjuda" onclick="location.href='{% url 'sisdaf_ajuda' %}'">&nbsp;Ajuda</button>
            <button class="tab-button" id="tabBancoDados" onclick="location.href='{% url 'sisdaf_banco_dados' %}'">&nbsp;Banco de Dados</button>
            <button class="tab-button" id="tabSugestoes" onclick="location.href='{% url 'sisdaf_sugestoes' %}'">&nbsp;Sugestões</button>
            <button class="tab-button" id="tabVersoes" onclick="location.href='{% url 'sisdaf_versoes' %}'">&nbsp;Versões</button>
        </div>
    </div>

    <h1 style="text-align: center;">AJUDA</h1>

<script src="{% static 'js/meus_dados.js' %}"></script>

{% endblock %}
