<!-- Modal -->
{% load static %}
<style>
    .tags-column{
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .custom-modal-width-parcela {
        max-width: 70%;  /* ou qualquer largura que você desejar */
        font-size: 16px !important;
    }

    .horizontal-sections-modal-parcela {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;  /* Alinha os itens ao topo */
        width: 100%;
        height: 75px;
    }

    .modal-content{
        height: 60%;
    }

    

</style>

<!-- Modal -->
<div class="modal fade" id="projetoAtividadeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width-parcela" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atividade Produtiva</h5>
                <button type="button" class="close closeModalButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="horizontal-sections-modal-parcela">
                    <div class="section" style="border: 0px !important;">
                        <div class="grid" style="font-size: 10px;">
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ denominacao.registro_data|date:"d/m/Y H:i:s" }}">
                                <label for="floatingInput">ID</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_data" id="log_data_registro" name="log_data_registro" readonly value="{{ denominacao.registro_data|date:"d/m/Y H:i:s" }}">
                                <label for="floatingInput">Data do Registro</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_responsavel" id="log_responsavel_registro" name="log_responsavel_registro" readonly value="{{ denominacao.usuario_registro.dp_nome_completo }}">
                                <label for="floatingInput">Responsável pelo Registro</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_data" id="lot_ult_atualizacao" name="log_data_registro" readonly value="{{ denominacao.ult_atual_data|date:"d/m/Y H:i:s" }}">
                                <label for="floatingInput">Última Atualização</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_responsavel" id="log_responsavel_atualizacao" name="log_responsavel_atualizacao" readonly value="{{ denominacao.usuario_atualizacao.dp_nome_completo }}">
                                <label for="floatingInput">Responsável Atualização</label>
                            </div>
                            <div class="form-floating mb-3" style="font-size: 12px;">
                                <input type="text" class="form-control log_edicoes" id="log_edicoes" name="log_edicoes" readonly value="{{ denominacao.log_n_edicoes }}">
                                <label for="floatingInput">Nº Edições</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="horizontal-sections-modal-parcela">
                    <div class="section" style="border: 0px !important;">
                        <div class="grid" style="font-size: 14px;">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="id_atividade_id" style="max-width: 80px;" readonly>
                                <label for='id_atividade_id'>ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_atividade.atividade }}
                                <label>{{ form_atividade.atividade.label }}</label>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="horizontal-sections-modal-parcela">
                    <div class="section" style="border: 0px !important;">
                        <div class="grid" style="font-size: 14px;">
                            <div class="form-floating mb-3 full-width">
                                {{ form_atividade.n_propriedades }}
                                <label>{{ form_atividade.n_propriedades.label }}</label>
                            </div>
                            <div class="form-floating mb-3 full-width">
                                {{ form_atividade.n_cadernos }}
                                <label>{{ form_atividade.n_cadernos.label }}</label>
                            </div> 
                            <div class="form-floating mb-3 full-width">
                                {{ form_atividade.n_tecnicos }}
                                <label>{{ form_atividade.n_tecnicos.label }}</label>
                            </div> 
                            <div class="form-floating mb-3 full-width">
                                {{ form_atividade.n_supervisores }}
                                <label>{{ form_atividade.n_supervisores.label }}</label>
                            </div>
                            <div class="form-floating mb-3 full-width">
                                {{ form_atividade.n_tecnicos_supervisores_ead }}
                                <label>{{ form_atividade.n_tecnicos_supervisores_ead.label }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="horizontal-sections-modal-parcela">
                    <div class="section" style="border: 0px !important;">
                        <div class="grid" style="font-size: 14px;">
                            <div class="form-floating mb-3 full-width">
                                {{ form_atividade.observacoes_gerais }}
                                <label>{{ form_atividade.observacoes_gerais.label }}</label>   
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModalButton" data-dismiss="modal" style="background-color: rgb(58, 58, 58); border-color: rgb(58, 58, 58);">Cancelar</button>
                <button type="button" class="btn btn-primary" id="salvarTags" style="background-color: rgb(13, 110, 253); border-color: rgb(13, 110, 253);">Salvar</button>
            </div>
        </div>
    </div>
</div>

   
<script>
    document.querySelectorAll('.closeModalButton').forEach(button => {
        button.addEventListener('click', function() {
            $('#projetoAtividadeModal').modal('hide');
        });
    });
</script>

<script src="{% static 'js/produtos.js' %}"></script>