{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}    
    <link rel="stylesheet" href="{% static 'styles/fornecedores_ficha.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-file-contract"></i>&nbsp;Projetos / Ficha do Projeto / Execução Financeira
    </div>

    <!-- ID do Projeto -->
    <input type="hidden" id="id_projeto" name="id_projeto" readonly>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tab-voltar">
            <a href="{% url 'projetos' %}" style="color: black;">
                <i class="fas fa-arrow-left"></i> 
            </a>
        </div>
        <div class="tabs">
            <button class="tab-button" id="projeto_ficha_dados_gerais">Dados Gerais</button>
            <button class="tab-button active" id="projeto_ficha_execucao_financeira">Execução Financeira</button>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="submit" id="btnNovoRepresentante" style="font-size: 12px; background-color: green; border-color: green;">
            <i class="fas fa-plus" style="font-size: 14px;"></i> 
            &nbsp;Novo Lançamento
        </button>
        <button class="btn btn-primary me-md-2" type="submit" id="btnExportarRepresentantes" style="font-size: 12px; background-color: rgb(17, 0, 126)7, 0, 128); border-color: green;">
            <i class="fas fa-download" style="font-size: 14px;"></i> 
            &nbsp;Exportar Dados
        </button>
    </div>


    <div class="section-tabela">
        <table class="table table-striped table-hover fixed-size-table" style="font-size: 14px;" id="tabRepresentantes">
            <thead>
                <tr>
                    <th class="representante-id">ID</th>
                    <th class="representante-nome">Nome Completo</th>
                    <th class="representante-cargo">Cargo</th>
                    <th class="representante-celular">Celular</th>
                    <th class="representante-email">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tab_fornecedores_representantes %}
                <tr data-id="{{ item.id }}" data-fornecedor-id="{{ item.fornecedor.id }}">
                    <td class="representante-id">{{ item.id }}</td>
                    <td class="representante-nome">{{ item.nome_completo }}</td>
                    <td class="representante-cargo">
                        {% if not item.cargo == '' %}
                            {% for value, display in lista_cargos %}
                                {% if item.cargo == value %}
                                    {{ display }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'Não Informado' }}
                        {% endif %}
                        <!-- {{ item.cargo|default:'Não Informado' }}</td> -->
                    <td class="representante-celular">{{ item.celular|default:'Não Informado' }}</td>
                    <td class="representante-email">{{ item.email|default:'Não Informado' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
    
    <!-- Modais -->
    {% include "fornecedores/fornecedor_representante_modal.html" %}
    {% include "fornecedores/fornecedor_representantes_delete.html" %}

    <!-- Scripts -->
    <script src="{% static 'js/projeto_ficha.js' %}"></script>

{% endblock %}