{% extends 'main/base_main.html' %}
{% load static %}
{% block extra_head %}
<!-- <link rel="stylesheet" href="{% static '\styles\contrato_ficha.css' %}"> -->
    <link rel="stylesheet" href="{% static '\styles\projetos.css' %}">
    
{% endblock %}
{% block content %}    
    
    <!-- Caminho da Área de Trabalho -->
    <div class="breadcrumb2">
        <i class="fa-solid fa-file-signature"></i></i>&nbsp;Projetos
    </div>

    <!-- Barra Superior -->
    <div class="barra-superior">
        <!-- Abas -->
        <div class="tabs">
            <button class="tab-button active" id="abaProjetos" onclick="location.href='{% url 'projetos' %}'">Lista de Projetos</button>
        </div>
    </div>

    <div class="horizontal-sections">
        
        <div class="section numbers">
            <div class="filter-title">
                Total de Projetos
            </div>
            <div id="numeroProjetos" class="total-geral">{{ tab_projetos.count }}</div>
        </div>
        
        <div class="section filter">
            <div class="filter-title">Filtros
                Filtros
            </div>
            
            <!-- Regional -->
            <div class="form-floating">
                {{ form_filtro.regional }}
                <label>{{ form_filtro.regional.label }}</label>
            </div>

            <!-- Status -->
            <div class="form-floating">
                {{ form_filtro.status }}
                <label>{{ form_filtro.status.label }}</label>
            </div>

            <!-- Subprograma -->
            <div class="form-floating">
                {{ form_filtro.subprograma }}
                <label>{{ form_filtro.subprograma.label }}</label>
            </div>

             <!-- Data Início -->
             <div class="form-floating">
                {{ form_filtro.data_inicio }}
                <label>{{ form_filtro.data_inicio.label }}</label>
            </div>
            <div class="form-floating">
                {{ form_filtro.data_fim }}
                <label>{{ form_filtro.data_fim.label }}</label>
            </div>               
            
            <!-- Plano de Trabalho -->
            <div class="form-floating full-width">
                {{ form_filtro.nome_plano_trabalho }}
                <label>{{ form_filtro.nome_plano_trabalho.label }}</label>
            </div>   

            
                
            <button class="custom-btn limpar-filtro-fornecedores">
                <i class="fa fa-times" style="font-size: 1.5vw" title="Limpar filtros" id="filtro_limpar"></i>
                <span style="font-size: 10px;">Limpar Filtros</span>
            </button>
        </div>

        <div class="section funcionalidades">
            <div style="font-size: 12px; font-weight: bold;">
                Funcionalidades
            </div>
            <div class="btn-container">
                <a href="{% url 'projeto_novo' %}" style="text-decoration: none;">
                    <button class="custom-btn" id="inserir_projeto">
                        <div class="icon-container">
                            <i class="fa fa-plus-circle" style="font-size: 1.5vw"></i>
                            <span>Inserir</span>
                        </div>
                    </button>
                </a>
                <button class="custom-btn" id="exportarBtn">
                    <div class="icon-container">
                        <i class="fa fa-download" style="font-size: 1.5vw"></i>
                        <span>Exportar</span>
                    </div>                    
                </button>
                
            </div>   
        </div>
        
    </div>

    <div class="section-tabela">
        <table class="table table-striped table-hover fixed-size-table" style="font-size: 14px;" id="tabProjetos">
            <thead>
                <tr>
                    <th class="col-id">ID SisATeG</th>
                    <th class="col-id">Regional</th>
                    <th class="col-status">Status</th>
                    <th class="col-subprograma">Subprograma</th>
                    <th class="col-planotrabalho">Plano de Trabalho</th>
                    <th class="col-processo">Nº Processo</th>
                    <th class="col-data">Início</th>
                    <th class="col-data">Fim</th>
                    <th class="col-responsavel">Responsável</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tab_projetos %}
                <tr data-id="{{ item.id }}">
                    <td class="col-id">{{ item.id_projeto_sisateg }}</td>
                    <td class="col-id">{{ item.get_regional_display }}</td>
                    <td class="col-status">{{ item.get_status_display }}</td>
                    <td class="col-subprograma">{{ item.get_subprograma_display }}</td>
                    <td class="col-subprograma">{{ item.nome_plano_trabalho }}</td>
                    <td class="col-processo">{{ item.n_processo }}</td>
                    <td class="col-data">{{ item.data_inicio|date:"d/m/Y" }}</td>
                    <td class="col-data">{{ item.data_fim|date:"d/m/Y" }}</td>
                    <td class="col-responsavel">{{ item.gestor_dateg.primeiro_ultimo_nome }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
    
    <div id="pagination">
            <button id="PreviousPage" class="page" disabled>Anterior </button>
            <span id="CurrentPage">1</span>
            <button id="NextPage" class="page">Próximo</button>
    </div>

    </div>
    
    <script src="{% static 'js/projeto.js' %}"></script>

    <!-- Modais -->
    {% include "contratos/contrato_inserir_modal.html" %}

{% endblock %}